html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

a:active,
a:hover {
  outline: 0;
}

main p{
  padding: 5%;
}

  .title {
    background-color: #072768; 
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    padding: 0 20px;
    white-space: nowrap; 
  }


  #portrait{
    width: 100%;
    height: auto;
    max-width: 90vw;
    display: block;
    margin: 30px auto;
    object-fit: contain;
  }

  .bio h1{
    text-align: center;
  }
    main {
      display: grid;
      grid-template-areas:
      "bio photo";
      grid-template-columns: 1fr 1fr;
    }

    #portrait{
      grid-area: photo;
      padding-right: 20%;
    }
    
    .bio{
      grid-area: bio;
    }