
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

a:active,
a:hover {
  outline: 0;
}

main p{
  padding: 5%;
}
  
  header {
    background-color: #072768; 
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .biotitle{
    text-align: center;
  }
  .title {
    background-color: #072768; 
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    padding: 0 20px;
    white-space: nowrap; 
  }


  #portrait{
    width: 100%;
    height: auto;
    max-width: 90vw;
    display: block;
    margin: 30px auto;
    object-fit: contain;
  }

  .bio h1{
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .nav-collapse ul {
    flex-direction: row;
    align-items: flex-end;
  }
    
    .nav-collapse li {
      width: auto;
    }
  
    .nav-collapse a {
      padding: 1.02em 2em;
      text-align: center;
      border-top: 0;
      margin: 0;
    }
  
    .nav-collapse ul ul a {
      display: none;
    }
  
    .nav-collapse.closed {
      max-height: none;
    }
    .nav-toggle {
      display: none;
    }


    main {
      display: grid;
      grid-template-areas:
      "bio photo";
      grid-template-columns: 1fr 1fr;
    }

    #portrait{
      grid-area: photo;
      padding-right: 20%;
    }
    
    .bio{
      grid-area: bio;
    }

  }
