html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

a:active,
a:hover {
  outline: 0;
}

main p{
  padding: 5%;
}

@font-face {
    font-family: "responsivenav";
    src: url("../icons/responsivenav.eot");
    src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
      url("../icons/responsivenav.ttf") format("truetype"),
      url("../icons/responsivenav.woff") format("woff"),
      url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
  }

.nav-toggle {
    text-decoration: none;
    text-indent: -300px;
    position: absolute;
    right: 0px;
    z-index: 1000;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
  }
  
  .nav-toggle:before {
    background-color: #072768; 
    color: rgb(255, 255, 255);
    font: normal 28px/55px "responsivenav"; 
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261"; 
    text-indent: 0;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .nav-toggle.active:before {
    background-color: #072768; 
    font-size: 24px;
    content: "\78"; 
  }
  
  .nav-collapse ul {
    background-color: #072768; 
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: 500;
  }
  
  .nav-collapse li {
    display: block;
  }
  
  .js .nav-collapse {
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  
  .nav-collapse.opened {
    max-height: 100vh;
    overflow-y: auto;
    margin-top: 50px;
  }
  
  header {
    background-color: #072768; 
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .title {
    font-family: "Geist Mono";
    background-color: #072768; 
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    padding: 0 20px;
    color: rgb(255, 255, 255);
    white-space: nowrap; 
  }

  .biotitle{
    text-align: center;
  }


  .logo{
    height: 150px;
    width: auto;
    object-fit: contain;
    align-self: flex-start;
  }
  
  .nav-collapse,
  .nav-collapse * {
    box-sizing: border-box;
  }
  
  .nav-collapse,
  .nav-collapse ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  .nav-collapse a {
    font-family: "Geist Mono";
    text-decoration: none;
    padding: 0.7em 1em;
    color: rgb(255, 255, 255);
    width: 100%;
    display: block;
    transition: text-decoration 1s ease;
  }
  
  .nav-collapse a:hover {
    text-decoration: underline; 
  }
  
  .nav-collapse ul ul a {
    padding-left: 2em;
  }

  .title {
    background-color: #072768; 
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    padding: 0 20px;
    white-space: nowrap; 
  }


  #portrait{
    width: 100%;
    height: auto;
    max-width: 90vw;
    display: block;
    margin: 30px auto;
    object-fit: contain;
  }

  .bio h1{
    text-align: center;
  }


  

  @media screen and (min-width: 768px) {
    .nav-collapse ul {
    flex-direction: row;
    align-items: flex-end;
  }
    
    .nav-collapse li {
      width: auto;
    }
  
    .nav-collapse a {
      padding: 1.02em 2em;
      text-align: center;
      border-top: 0;
      margin: 0;
    }
  
    .nav-collapse ul ul a {
      display: none;
    }
  
    .nav-collapse.closed {
      max-height: none;
    }
    .nav-toggle {
      display: none;
    }


    main {
      display: grid;
      grid-template-areas:
      "bio photo";
      grid-template-columns: 1fr 1fr;
    }

    #portrait{
      grid-area: photo;
      padding-right: 20%;
    }
    
    .bio{
      grid-area: bio;
    }

  }

  footer{
    background: #072768;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
  }

  footer nav.footer ul{
    display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  }

  footer nav.footer ul li {
    margin: 0 1em;
  }

  footer nav.footer ul li a {
    color: white;
    text-decoration: none;
  }

  footer nav.footer ul li a:hover,
  footer nav.footer ul li a:focus{
    text-decoration: underline;
  }

  footer p{
    align-self: center;
  }

  footer h3{
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }