.information {
    padding-left: 30px;
}
.title h1{
    font-size: 40px;
    color:#072768;
}

.title h2 {
    font-size: 18px;
    color: #351303;
    padding-bottom: 20px;
}

.address {
    font-size: 18px;
    color:#351303;
    padding-bottom: 20px;
}

.phone {
    font-size: 18px;
    color:#351303;
    padding-bottom: 20px;
}

.email-info {
    font-size: 18px;
    color:#351303;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 30px;
    padding: 40px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #072768;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
  }

  form label {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;

  }
  form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .submit-btn {
    background: #072768;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }